.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Thumbs.db
/public/
/resources/
/.quarto/
.hugo_build.lock

/.luarc.json

/assets/silvia/

/blog/_bike-rack

/blog/2024-11-27-nearby-parks/data/
/blog/2024-11-27-tree-canopy/data/
/blog/2024-12-17-causality-311/data/
