/*************************************************
 *  Saved as custom.scss in `/assets/scss/custom.scss` relative to the website root
 *  https://sourcethemes.com/academic/docs/customization/
 **************************************************/

/** CHANGES **/

/*  change all rgb(152, 166, 173) --> rgba(255, 255, 255, 0.87) -- headings */
/*  change all rgb(40, 42, 54)    --> #121212, rgba(18, 18, 18, 100) -- page background */
/*  change all rgb(68, 71, 90)    --> mix(rgba(18, 18, 18, 100), white, 88%) -- dark mode inline code background */
/*  change all rgb(139, 233, 253) --> #122140 -- dark mode inline code text */


/** COLOR VARIABLES **/

$spc-primary: #122140;                         /* primary color */
$spc-primary-light: #3d486b;                   /* primary color, lighter shade */
$spc-primary-dark: #00001b;                    /* primary color, darker shade */

$spc-secondary: #e5be00;                       /* secondary color */
$spc-secondary-light: #fff14d;                 /* secondary color, lighter shade */
$spc-secondary-dark: #ae8f00;                  /* secondary color, darker shade */

$spc-text-high: rgba(255, 255, 255, 0.87);     /* high emphasis/high priority, white 87% opacity */
$spc-text-medium: rgba(255, 255, 255, 0.60);   /* medium emphasis, white 60% opacity */
$spc-text-low: rgba(255, 255, 255, 0.38);      /* disabled text, white 38% opacity */

$spc-background-light: rgb(238, 238, 238);     /* light mode background */
$spc-background-dark: rgba(18, 18, 18, 100);   /* dark mode background (00dp elevation level) */
/* simulating an elevation white overlay transparency of 12% */
$spc-background-med: mix($spc-background-dark, white, 88%); /* dark mode background 08dp elevation */
$spc-test: mix($spc-primary, $spc-background-dark, 92);

$spc-error: rgba(169, 5, 51, 1);
$spc-error-light: rgba(253, 244, 244, 1);

/* setting color variables using the lighten function as example
$spc-lighten-percentage: 10%;
$spc-darken-percentage: 10%;
$spc-primary-light-ex: lighten($spc-primary, $spc-lighten-percentage);
$spc-primary-dark-ex: darken($spc-primary, $sta-darken-percentage) */

/*************************************************
 *  CORE
 **************************************************/
/* headings: _root.scss */

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 400;
}

body {
  color: #333;
  font-size: 0.9rem;
}

h1 {
  font-size: 2rem;
}

/* links */

a {
  color: $spc-secondary;
  cursor: pointer;
}

a:active,
a:focus,
a:hover {
  color: $spc-secondary-dark;
}

/*************************************************
 *  NAVIGATION BAR: _nav.scss
 **************************************************/

.navbar-light .navbar-nav>.nav-item>.nav-link,
.navbar-light .navbar-nav>.nav-item>.nav-link:focus,
.navbar-light .navbar-nav>.nav-item>.nav-link:hover,
.navbar-light .navbar-nav>.nav-item>.nav-link:active {
  font-weight: 700;
}

.navbar-light .navbar-nav > li.nav-item > a.active,
.navbar-light .navbar-nav > li.nav-item > a.active:focus,
.navbar-light .navbar-nav > li.nav-item > a.active:hover {
  font-weight: 700;
  transition: color .2s ease;
}

.navbar-light {
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: .08em;
}

/* -- underline for navigation bar links
.navbar-nav {
  border-bottom: 2px solid $spc-secondary;
}*/

.navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .08em;
}

/* -- underline for search magnifying glass
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: $spc-secondary;
}


/*************************************************
 *  HOME PAGE: _widgets.scss
 **************************************************/

.portrait-title h2 {
  color: #333;
}

#about .col-12.col-lg-8 {
  padding-top: 30px !important;
}

.network-icon li:hover {
  transform: scale(1.05);
}

.home-section:first-of-type {
  padding: 50px 0 50px 0;
}

.home-section:not(:first-of-type) {
  padding: 25px 0 50px 0;
}

.home-section.wg-experience .card-body {
  padding: 2em; /* padding around text in experience cards*/
}

.home-section.wg-experience .card .card-text{
  padding: 0;
}

/* this erases the margin-bottom for h1 */
.home-section.wg-pages .section-heading h1 {
  margin: 0 0 0 0;
}

/* this is the section subtitle */

.home-section.wg-pages .section-heading p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: .08em;
}

/* make dark even/odd sections same color so less stripey */

.dark .home-section:nth-of-type(n) {
	background-color: #282a36;
}


/*************************************************
 *  CODE
 **************************************************/
/* https://bookdown.org/yihui/blogdown/templates.html */
/* https://github.com/rstudio/blogdown/blob/master/docs/02-hugo.Rmd */

/* code chunk background layer*/
pre {
  border: 1px solid #fdfbf2; /* code chunk border */
  box-shadow: 2px 2px 2px #eee;
  padding: 0.25em;
  background: #fdfbf2;
  overflow-x: auto;
  border-radius: 0px; /* modify rounding of corners */
}

pre code {
  background: none;
  font-size: 0.8rem;
}

/* inline code */
code {
  color: $spc-primary;
  /*background: #fff;*/
  background: #cfd2d8;
  font-size: 0.9em;
}

.hljs {
	background: #fdfbf2; /* code chunk background */
}

/*************************************************
 *  SHORTCODE ALERTS: _root.scss
 **************************************************/


div.alert-note > div:first-child::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: $spc-primary;
  content: "\f00c"; /* check mark icon */
}

.alert-note {
  color: #333;
  background-color: #e7e8eb;
  border-top: 2px solid $spc-primary;
  border-radius: 0px; /*undo rounded corners*/
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  padding: 23px 10px 21px 10px;
}

div.alert > div {
  font-size: 0.85rem;
}

div.alert-warning > div:first-child::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #a90533;
  content: "\f12a"; /* exclamation point icon */
}

div.alert.alert-warning {
  color: #a90533;
  background-color: #fdf4f4;
  border-top: 2px solid #a90533;
  border-radius: 0px; /*undo rounded corners*/
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  padding: 23px 10px 21px 10px;
}

/*************************************************
 *  TOOLBAR BUTTONS (i.e. download PDF)
 **************************************************/

.btn.btn-sm, .btn-group-sm > .btn {
  background: #fff;
  border-radius: 0px; /*undo rounded corners*/
  font-size: 0.8rem;
}

.btn.btn-outline-primary.my-1.mr-1 {
  border-radius: 0px; /*undo rounded corners*/
  font-size: 0.8rem;
}

.btn {
  font-family: Lora;
  text-transform: sentencecase;
  font-style: regular;
  border-radius: 0px;
}

.btn-toolbar .btn:first-child {
  border-radius: 0px;
}

.btn-toolbar .btn:last-child {
  border-radius: 0px;
}

.btn-toolbar {
  justify-content: center;
}

/* section headers */

div.universal-wrapper.pt-3 h1 {
  text-align: center;
  padding-bottom: 50px;
  text-transform: capitalize;
}

/*************************************************
 *  ABOUT
 **************************************************/
/* about-contact helpers */
/* Used by Alison -- helpers = horizontal separators for sections? */

.mini {
	text-align: left;
	margin-left: 10rem;
	margin-right: 10rem;
	padding-bottom: 68px;
  border-bottom: 1px solid #d53135;
}

hr {
  border: 0;
  height: 1px;
  background: #d53135;
  background-image: none;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }


/* images more like cards; iframes more seamless -- used by Alison*/

img {
	margin-bottom: 1.5rem;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

iframe {
	border: 0;
}

/*************************************************
 *  PAGINATION (buttons at bottom of list)
 **************************************************/

.page-link {
	color: $spc-secondary;
	background-color: #fbf9f4;
	border: 1px solid $spc-secondary;
  border-radius: 0px; /*undo rounded corners*/

}

.page-link:hover {
	color: #fff;
	background-color: $spc-secondary;
	border-color: $spc-secondary-dark;
}

.page-item:first-child .page-link {
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem;
}

.page-item:last-child .page-link {
	border-top-right-radius: 0rem;
	border-bottom-right-radius: 0rem;
}

/*************************************************
 *  DARK MODE CUSTOMIZATION -- _dark.scss
 **************************************************/

/* body of site */
body.dark,
.dark .docs-toc-link,
.dark .docs-sidebar .nav > li:not(.active) > a,
.dark .modal button.close,
.dark input,
.dark .form-control,
.dark .form-control:focus {
  color: $spc-text-medium;          /* text of search filter field and summary text*/
  background: $spc-background-dark; /* page background - publications and posts */
}

/* search forms (e.g. full list of publications) */

.dark .form-control {
  background-color: $spc-primary;   /* background color of search filter field */
}

.dark .form-control:focus {
  background-color: $spc-primary;                /* color of search filter field drop down menu */
  border-color: $spc-background-light;           /* border color of search filter field when clicked */
  box-shadow: 0 0 0 .2rem $spc-background-light; /* shadow box color of search filder field when clicked */
}

/* heading*/

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: $spc-text-high;
}

/* code blocks */

.dark pre,
.dark code {
  color: $spc-text-medium;                  /* code block text (e.g. functions) */
  background-color: $spc-background-med;    /* code block text background */
}

.dark pre {
  background-color: $spc-background-med;    /* code block background */
  border-color: $spc-background-med;        /* code block border */
}



/* Markup -- not currently being used */
.dark .markup-quote {
  background-image: linear-gradient(to bottom, rgba(233, 231, 245, 0.2), rgba(233, 231, 245, 0.2));
}

.dark #MathJax_Zoom {
  background-color: rgb(68, 71, 90) !important;
}

.dark table table {
  background-color: rgb(40, 42, 54);
}

/* Table Striped */
.dark table > tbody > tr:nth-child(odd) > td,
.dark table > tbody > tr:nth-child(odd) > th {
  background-color: $spc-background-med;                   /* text background for odd table rows */
}

/* Table Hover */
.dark table > tbody > tr:hover > td,
.dark table > tbody > tr:hover > th {
  background-color: mix($spc-background-med, white, 90%);  /* text background for odd table rows when hovering */
}

/* pagination -- not currently being used */
.dark .pagination li > a, .pagination li > span {
  background-color: rgb(40, 42, 54);
  border: 1px solid #ddd;
}

/* cards (i.e. experience) */
.dark .card {
  background: #343a40;
}

.dark .card h4 a {
  color: $sta-primary;
  border-bottom: solid 1px transparent;
}

.dark .card .card-image.hover-overlay::before {
  background: #666;
}

.dark .card .card-image.hover-overlay::after {
  color: #fff;
}
