// Saved as custom.scss in `/assets/scss/custom.scss` relative to the website root
// https://sourcethemes.com/academic/docs/customization/

// CHANGES
//  change all #ffffff            --> rgba(255, 255, 255, 0.87)
//  change all rgb(152, 166, 173) --> rgba(255, 255, 255, 0.87) -- headings
//  change all rgb(68, 71, 90)    --> mix(#1f222a, white, 98%)
//  change all rgb(40, 42, 54)    --> #1f222a -- page background
//  change all rgb(139, 233, 253) --> #fff14d -- dark mode inline code text

// COLOR VARIABLES
// primary and secondary colors and variants
$spc-primary:            #122140; // primary color
$spc-primary-light:      #3d486b; // primary color, lighter variant
$spc-primary-dark:       #00001b; // primary color, darker variant
$spc-secondary:          #e5be00; // secondary color
$spc-secondary-light:    #fff14d; // secondary color, lighter variant
$spc-secondary-dark:     #ae8f00; // secondary color, darker variant

// text colors
$spc-text-high:          rgba(255, 255, 255, 0.87); // high emphasis/high priority, white 87% opacity
$spc-text-medium:        rgba(255, 255, 255, 0.60); // medium emphasis, white 60% opacity
$spc-text-low:           rgba(255, 255, 255, 0.45); // disabled text, white 45% opacity
//$spc-text-low:         rgba(255, 255, 255, 0.38); // disabled text, white 38% opacity

// surface colors
$spc-bkg-light-std: #EEEEEE;                   // light mode background
$spc-bkg-dark-std: #121212;                    // dark mode background (00dp elevation level)

/*
// TESTING COLORS
mix($spc-primary, $spc-bkg-dark-std, 25)
#12151d
mix($spc-primary, $spc-bkg-dark-std, 30)
#12161f
mix($spc-primary, $spc-bkg-dark-std, 35)
#121722
mix($spc-primary, $spc-bkg-dark-std, 40)
#121824
mix($spc-primary, $spc-bkg-dark-std, 45)
#121826
mix($spc-primary, $spc-bkg-dark-std, 50)
#121929
mix($spc-primary, $spc-bkg-dark-std, 75)
#121d34
*/

// COLOR CALCULATIONS
// below from mix($spc-primary, $spc-bkg-dark-std, 25)
$spc-bkg-dark: #12151d;                                 // custom bkg
// below from mix($spc-primary, $spc-bkg-dark-std, 40)
$spc-00dp: #121824;                                     // 00dp surface
// below from mix($spc-00dp, white, 95)                 // 00dp with 5% white overlay
$spc-01dp: #1d232e;
// below from mix($spc-00dp, white, 93)                 // 00dp with 7% white overlay
$spc-02dp: #222833;
// below from mix($spc-00dp, white, 92)                 // 00dp with 8% white overlay
$spc-03dp: #242a35;
// below from mix($spc-00dp, white, 91)                 // 00dp with 9% white overlay
$spc-04dp: #272c37;

// error colors
$spc-error: rgba(169, 5, 51, 1);
$spc-error-light: rgba(253, 244, 244, 1);

// ************************************************
// CORE
// ************************************************

// headings: _root.scss
h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 400;
}

body {
  color: #333;
  font-size: 0.9rem;
}

h1 {
  font-size: 2rem;
}

// links
a {
  color: $spc-secondary;  // link color
  cursor: pointer;
}

a:focus,
a:hover,
a:active {
  color: $spc-secondary-dark;      // link color when hovering
}

// ************************************************
// NAVIGATION BAR: _nav.scss
// ************************************************

.navbar-light .navbar-nav>.nav-item>.nav-link,
.navbar-light .navbar-nav>.nav-item>.nav-link:focus,
.navbar-light .navbar-nav>.nav-item>.nav-link:hover,
.navbar-light .navbar-nav>.nav-item>.nav-link:active {
  font-weight: 700;
}
.navbar-light .navbar-nav > li.nav-item > a.active,
.navbar-light .navbar-nav > li.nav-item > a.active:focus,
.navbar-light .navbar-nav > li.nav-item > a.active:hover {
  font-weight: 700;
  transition: color .2s ease;
}
.navbar-light {
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: .08em;
}
.navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .08em;
}

// ************************************************
// HOME PAGE: _widgets.scss
// ************************************************
.portrait-title h2 {
  color: #333;
}

#about .col-12.col-lg-8 {
  padding-top: 30px !important;
}

.network-icon li:hover {
  transform: scale(1.05);
}

.home-section:first-of-type {
  padding: 50px 0 50px 0;
}

.home-section:not(:first-of-type) {
  padding: 25px 0 50px 0;
}

.home-section.wg-experience .card-body {
  padding: 2em; // padding around text in experience cards
}

.home-section.wg-experience .card .card-text{
  padding: 0;
}

// this erases the margin-bottom for h1
.home-section.wg-pages .section-heading h1 {
  margin: 0 0 0 0;
}

// this is the section subtitle
.home-section.wg-pages .section-heading p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: .08em;
}

// ************************************************
// CODE
// ************************************************
// https://bookdown.org/yihui/blogdown/templates.html
// https://github.com/rstudio/blogdown/blob/master/docs/02-hugo.Rmd

// code chunk background layer
pre {
  border: 1px solid #fdfbf2; // code chunk border
  box-shadow: 2px 2px 2px #eee;
  padding: 0.25em;
  background: #fdfbf2;
  overflow-x: auto;
  border-radius: 0px; // modify rounding of corners
}
pre code {
  background: none;
  font-size: 0.8rem;
}

// inline code
code {
  color: $spc-primary;
  background: #cfd2d8;
  font-size: 0.9em;
}

.hljs {
	background: #fdfbf2; // code chunk background
}

// ************************************************
// SHORTCODE ALERTS: _root.scss
// ************************************************

div.alert-note > div:first-child::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: $spc-primary;
  content: "\f00c"; // check mark icon
}

.alert-note {
  color: #333;
  background-color: #e7e8eb;
  border-top: 2px solid $spc-primary;
  border-radius: 0px; //undo rounded corners
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  padding: 23px 10px 21px 10px;
}

div.alert > div {
  font-size: 0.85rem;
}

div.alert-warning > div:first-child::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #a90533;
  content: "\f12a"; // exclamation point icon
}

div.alert.alert-warning {
  color: #a90533;
  background-color: #fdf4f4;
  border-top: 2px solid #a90533;
  border-radius: 0px; //undo rounded corners
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  padding: 23px 10px 21px 10px;
}

// ************************************************
// TOOLBAR BUTTONS (i.e. download PDF)
// ************************************************

// buttons like "send" in the contact section
.btn {
  color: $spc-secondary;                  // page button text
  border-color: $spc-secondary;           // page button border
  background-color: white;      // page button background
  font-family: Lora;
  text-transform: sentencecase;
  font-style: regular;
  border-radius: 0px;
}
.btn:hover {
	color: $spc-primary-dark;                   // text
	background-color: $spc-secondary;  // page button text background when hovering
	border-color: $spc-secondary;      // page button border color when hovering
}
.btn.btn-sm, .btn-group-sm > .btn {
  color: $spc-secondary;                // document link button text
  border-color: $spc-secondary;         // document link button border
  background-color: white;    // document link button background
  border-radius: 0px;                      // corner rounding
  font-size: 0.8rem;
}
.btn.btn-sm:hover {
	color: $spc-primary-dark;               // link button text when hovering
	background-color: $spc-secondary;     // link button text background when hovering
	border-color: $spc-secondary;         // link button border when hovering
}
.btn.btn-outline-primary.my-1.mr-1 {
  border-radius: 0px;                       // corner rounding
  font-size: 0.8rem;
}
.btn-toolbar .btn:first-child {
  border-radius: 0px;
}
.btn-toolbar .btn:last-child {
  border-radius: 0px;
}
.btn-toolbar {
  justify-content: center;
}

// section headers

div.universal-wrapper.pt-3 h1 {
  text-align: center;
  padding-bottom: 50px;
  text-transform: capitalize;
}
// ************************************************
// ABOUT
// ************************************************

// about-contact helpers
// Used by Alison -- helpers = horizontal separators for sections?
.mini {
	text-align: left;
	margin-left: 10rem;
	margin-right: 10rem;
	padding-bottom: 68px;
  border-bottom: 1px solid #d53135;
}
hr {
  border: 0;
  height: 1px;
  background: #d53135;
  background-image: none;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }


// images more like cards; iframes more seamless -- used by Alison
img {
	margin-bottom: 1.5rem;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
iframe {
	border: 0;
}

// ************************************************
// PAGINATION (buttons at bottom of list -- N/A
// ************************************************

.page-link {
	color: $spc-secondary;
	background-color: #fbf9f4;
	border: 1px solid $spc-secondary;
  border-radius: 0px; //undo rounded corners

}

.page-link:hover {
	color: #fff;
	background-color: $spc-secondary;
	border-color: $spc-secondary-dark;
}

.page-item:first-child .page-link {
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem;
}

.page-item:last-child .page-link {
	border-top-right-radius: 0rem;
	border-bottom-right-radius: 0rem;
}

// ************************************************
// ************************************************
// DARK MODE CUSTOMIZATION
// ************************************************
// ************************************************

// Page builder: _widgets.scss
.dark .home-section:nth-of-type(odd) {
 background-color: mix($spc-00dp, white, 98%);   // odd sections: about, recent pubs, contact
 // : mix($spc-primary, $spc-bkg-dark-std, 30);
}
.dark .home-section:nth-of-type(even) {
 background-color: $spc-00dp;   // even sections: experience, recent posts
 // background-color: mix($spc-primary, $spc-bkg-dark-std, 40);
}

// body of site: _dark.scss
body.dark,
.dark .docs-toc-link,
.dark .docs-sidebar .nav > li:not(.active) > a,
.dark .modal button.close {
  color: $spc-text-medium;            // text of search field and summary text
  background-color: $spc-00dp;        // base surface
  border-radius: .5rem;
  border-color: $spc-bkg-light-std;
  border: 0px solid;
  padding: 0.3em;
}

// ************************************************
// Navigation bar: _nav.scss
// ************************************************
.dark .navbar {
  background: mix($spc-bkg-light-std, $spc-bkg-dark-std, 95); // background for entire navbar
  padding: 0 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(255, 255, 255, .11);

  .navbar-nav {
    display: flex;

    .nav-link {
      color: rgba($spc-bkg-dark-std, .85); // search and palette icons in nav bar

      &.active,
      &:hover,
      &:focus {
        color: $spc-bkg-dark-std;          // search and palette icons in nav bar when hovering
      }
    }
  }
  // Note: dedicated `dropdown-item-active` class to prevent ScrollSpy removing `active` class from language chooser.
  // takes precedence over .dropdown changes later
  .dropdown-item.active,
  .dropdown-item-active {
    font-weight: bold;
    color: $spc-secondary-dark !important;
  }
}

.dark .dropdown-menu {
  background-color: $spc-bkg-light-std !important; // top/bottom borders for theme menu dropdown
  color: $spc-bkg-dark !important;
  z-index: 1032;  // I18n dropdown over mobile expanded menu.
}

.dark .dropdown-item {
  background-color: $spc-bkg-light-std !important; // theme dropdown background
  color: $spc-primary-dark !important;             // text for theme dropdown menu
  font-weight: 600;
}

.dark .navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .08em;
  color: $spc-bkg-dark;                            // text for name/website title
}

.dark .navbar-toggler {
    color: $spc-bkg-dark;                          // menu bar toggler
}

.dark #navbar-main .main-menu-item ul li .nav-link {
  color: $spc-bkg-dark;                            // text for nav bar menu dropdown
}

.dark .navbar-collapse {
  background-color: mix($spc-bkg-light-std, $spc-bkg-dark-std, 93);
}

// heading
.dark h1, h2, h3, h4, h5, h6 {
  color: $spc-text-high;
}

// links
.dark a {
  color: $spc-secondary-dark;        // link color
  cursor: pointer;
}
.dark a:focus,
a:hover,
a:active {
  color: $spc-secondary;  // link color when hovering
}

// inline code
.dark code {
  color: mix($spc-secondary-dark, white, 70);            // inline and code block text
  background: $spc-04dp;
  font-size: 0.9em;
}

// code blocks
.dark pre {
  border: 0px solid $spc-01dp;            // code block border
  box-shadow: 0px 0px 0px $spc-bkg-dark;  // code block shadow (values: h-shift v-shift intensity)
  padding: 0.25em;
  background: $spc-01dp;                  // code block backround
  overflow-x: auto;
  border-radius: 0px;                     // corner rounding
}

.dark pre code {
  background: none;
  font-size: 0.8rem;
}

.dark .hljs {
	background-color: $spc-02dp;            // code block text background
}

// Markup -- not currently being used
.dark .markup-quote {
  background-image: linear-gradient(to bottom, rgba(233, 231, 245, 0.2), rgba(233, 231, 245, 0.2));
}
.dark #MathJax_Zoom {
  background-color: rgb(68, 71, 90) !important;
}
.dark table table {
  background-color: rgb(40, 42, 54);
}

// Table Striped
.dark table > tbody > tr:nth-child(odd) > td,
.dark table > tbody > tr:nth-child(odd) > th {
  background-color: $spc-bkg-dark;              // text background for odd table rows
}

// Table Hover
.dark table > tbody > tr:hover > td,
.dark table > tbody > tr:hover > th {
  background-color: mix($spc-00dp, white, 98);  // text background for odd table rows when hovering
}

// ************************************************
// CARDS
// ************************************************

// cards (i.e. experience)
.dark .card {
  background: $spc-01dp;                        // text background for experience cards
}
.dark .card h4 a {
  color: $spc-secondary;                        // text for card institution link
  border-bottom: solid 1px transparent;
}
.dark .card .card-image.hover-overlay::before {
  background: #666;                             // not sure what this is
}
.dark .card .card-image.hover-overlay::after {
  color: #fff;                                  // not sure what this is
}

// card component: _cards.scss
.dark .card-simple {
  background: $spc-01dp;                        // text background for post cards
  box-shadow: 0 1px 1px $spc-bkg-dark-std;      // card shadow (values: top bottom sides)
  border: 1px solid $spc-01dp;                  // card border
}

// ************************************************
// BUTTONS
// ************************************************

// Button size override
.dark .btn.btn-sm, .dark .btn-group-sm > .dark .btn {
  color: $spc-primary-dark;                 // link button text
  border-color: $spc-bkg-light-std;         // link button border
  background-color: $spc-bkg-light-std;     // link button background
  border-radius: 0px;                       // corner rounding
  font-size: 0.8rem;
}
.dark .btn.btn-sm:hover {
	color: $spc-primary-dark;                 // link button text when hovering
	background-color: $spc-secondary-dark;    // link button text background when hovering
	border-color: $spc-secondary-dark;        // link button border when hovering
}
.dark .btn.btn-outline-primary.my-1.mr-1 {
  border-radius: 0px;                       // corner rounding
  font-size: 0.8rem;
}

// "Send" button in contact section
.dark .btn {
  font-family: Lora;
  text-transform: sentencecase;
  font-style: regular;
  color: $spc-primary-dark;                 // page button text
  border-color: $spc-secondary-dark;        // page button border
  background-color: $spc-secondary-dark;    // page button background
}
.dark .btn:hover {
	color: $spc-primary-dark;
	background-color: $spc-bkg-light-std;     // page button text background when hovering
	border-color: $spc-bkg-light-std;         // page button border color when hovering
}

// Toolbar buttons
.dark .btn-toolbar .btn:first-child {
  border-radius: 0px;
}
.dark .btn-toolbar .btn:last-child {
  border-radius: 0px;
}
.dark .btn-toolbar {
  justify-content: center;
}

// ************************************************
// SEARCH BAR: _search.scss *
// ************************************************

// main page search bar
.dark .search-header {
  background-color: $spc-00dp;
}
.dark .search-results {
  background-color: $spc-00dp;
}

// Algolia search input
.dark .ais-search-box--input {
  background-color: transparent;
}
.dark #search-query {
  color: $spc-text-high;                // Search bar query text
  background-color: $spc-04dp;          // Search bar query text background
  outline-style: none;                  // Removes the default primary color outline
}
.dark #search-box::before {
  color: $spc-bkg-light-std;            // magnifying glass icon in main search bar
}

// Search forms

// search field in publications list
.dark input.filter-search {
  background-color: $spc-bkg-dark;      // field background
  border-color: $spc-bkg-light-std;     // border background
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-left: 10px;
  padding: 2.5px;
  &:hover {
    outline-style: solid;
    outline-width: 2px;
    outline-color: $spc-secondary-dark;
  }
  &:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: $spc-secondary-dark;
  }
}

// search filter for publication type
.dark select.pub-filters.pubtype-select.form-control.form-control-sm {
  background-color: $spc-00dp;
  &.active,
  &:hover {
    color: $spc-text-high;
    outline-style: solid;
    outline-color: $spc-secondary-dark;
    outline-width: 2px;
  }
  &:focus {
    color: $spc-text-medium;
    background-color: $spc-00dp;
    outline-style: none;
  }
}

// search filter for publication date
.dark select.pub-filters.form-control.form-control-sm {
  background-color: $spc-00dp;
  &.active,
  &:hover {
    color: $spc-text-high;
    outline-style: solid;
    outline-color: $spc-secondary-dark;
    outline-width: 2px;
  }
  &:focus {
    color: $spc-text-medium;
    background-color: $spc-00dp;
    outline-style: none;
  }
}

//OPTIONS FOR EXPERIMENTING
.dark #navbar-main .main-menu-item ul li .nav-link {
  color: $spc-bkg-dark;                            // text for nav bar menu dropdown
}
