// Override this file to add your own SCSS styling.

// basic color options: use only color names as shown in the
// "Color Palette" section of https://tachyons.io/docs/themes/skins/
$siteBgColor: "near-white" ;
$sidebarBgColor: "light-gray" ;
//$textColor: "dark-gray" ;
$textColor: "navy" ;                    // all text, including headings
$sidebarTextColor: "mid-gray" ;
$headlineColor: "dark-pink" ;
$headingColor: "near-black" ;
//$bodyLinkColor: "blue" ;
//$bodyLinkColor: "dark-blue" ;
$bodyLinkColor: "dark-blue" ;           // all links/anchors
//$navLinkColor: "near-black" ;
$navLinkColor: "dark-blue" ;            // buttons, links in heading/footer
$sidebarLinkColor: "near-black" ;
$footerTextColor: "silver" ;
//$buttonTextColor: "near-white" ;
$buttonTextColor: "light-red" ;         // not sure?
//$buttonBgColor: "black" ;
$buttonBgColor: "light-red" ;           // not sure?
//$buttonHoverTextColor: "white" ;
$buttonHoverTextColor: "near-white" ;   // button text when hovering
$buttonHoverBgColor: "dark-blue" ;      // button background when hovering
//$borderColor: "moon-gray" ;
$borderColor: "dark-blue" ;                // horizontal bars?
