/*-- scss:defaults --*/

// Colors
$primary:                    $spc-primary-light !default;
$secondary:                  $spc-secondary !default;

// Body
$body-color:                 $spc-primary !default;
$body-bg:                    $spc-bg !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:     "Red Hat Text", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
// $font-family-serif: "Petrona", serif, !default;
$headings-font-weight:       400 !default;

$font-family-monospace:      "Dank Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$headings-font-family:       "Petrona" !default;

// Links

$link-color:                  $secondary !default;
$link-decoration:             underline !default;
$link-hover-color:            $spc-secondary-light !default;
$link-hover-decoration:       none !default;

// Tables

$table-border-color:          $primary !default;
$table-group-separator-color: lighten($primary, 40) !default;
$table-caption-color:         $primary !default;

/*-- scss:rules --*/

// Tables

.table > :not(caption) > :not(:last-child) > * {
  border-bottom-color: lighten($primary, 50);
}

// Code

// inline code
p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
  color: $primary;
  background-color: $spc-accent-light;
  border: 1px solid $spc-accent;
}

// Blockquotes

.blockquote {
  color: lighten($primary, 15);
  font-style: oblique;
}

// Social icons

// footer
.nav-footer-center i {
  color: $secondary !important;
  
  &:hover {
    color: $spc-secondary-light !important;
  }
}

// home + about pages
.about-links .about-link i {
  color: $secondary !important;

  &:hover {
    color: $spc-secondary-light !important;
  }
}

// Contact

// social links
.link-dark.me-1 i {
  color: $secondary !important;
}

// Buttons

// post links
.btn-secondary {
  color: $secondary;
  background: transparent;
}

// contact form
.btn-primary:hover {
  background-color: $secondary;
  border-color: $secondary;
}

// pagination
.page-link {
  color: $primary;
  &:hover {
    color: white;
    background-color: $primary;
    border-color: $primary;
  }
}

// Categories

// posts
.quarto-category:hover {
  background-color: #6c757d;
  color: white;
}

// listings
.listing-category:hover {
  background-color: #6c757d;
  color: white !important;
}

// Navbar

// header
.navbar {
  background: transparent;
}

// title
.navbar-title {
  font-size: 0.75em;
  font-weight: 500;
  color: $primary;
  text-transform: uppercase;
  letter-spacing: .1em;

  &:hover {
    border-bottom: 1px solid $primary !important;
  }
}

// links
.navbar-nav .nav-link {
    color: $secondary !important;
    text-transform: uppercase;
    letter-spacing: .1em; 
    border-bottom: 0px hidden $secondary;    
    margin: 0px 10px 0px 10px; 
    padding: 2px 2px 4px 2px !important;

    &:hover {
      border-bottom: 1px solid $secondary !important;
      padding: 2px 2px 0px 2px !important;
    }
}

// Footer

// links on left side
.nav-footer a {
    color: $secondary;
    // link on hover
    &:hover {
      color: $spc-secondary-light;
    }
}

// links on right side
.nav-footer .nav-link {
    &:hover {
      text-decoration: underline;
    }
}

// Listing cards
.card {
  background: transparent;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.card-img {
    border-radius: 4px 4px 0px 0px;
}

// Home

// social links
.about-entity {
  // block of links
  .about-links {
    column-gap: 0em !important;
    font-size: 1.2em;
  }
  // individual links
  .about-link {
    padding: 0.25em 0.25em !important;
    border: none !important;
  }
}

// title
.title {
  font-size: 3rem;
  font-weight: 500;
}

// subtitle + Learn More About Me
.subtitle {
  font-family: "Petrona";
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

// Mobile

@media screen and (max-width: 991.98px) {
  // social media links
  .about-entity .about-links {
    flex-direction: row !important;
    justify-content: center !important;
  }

  // navigation footer
  .nav-footer {
      flex-direction: row;
    }

  .nav-footer-center {
    order: 1 !important;
    flex-basis: 100%;
    margin: 0 0 -1.2em 0;
  }

  .nav-footer-right {
    order: 2 !important;
    flex-basis: 100%;
    text-align: center;
  }

  .nav-footer-left {
    order: 3 !important;
    flex-basis: 100%;
    text-align: center;
  }
}