// Fonts

/* petrona-regular - latin */
@font-face {
  font-family: 'Petrona';
  font-style: normal;
  font-weight: 400;
  src: url('assets/silvia/fonts/petrona-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    //    url('assets/silvia/fonts/petrona-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/silvia/fonts/petrona-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/silvia/fonts/petrona-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/silvia/fonts/petrona-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/silvia/fonts/petrona-v16-latin-regular.svg') format('svg'); /* Legacy iOS */
}

/* petrona-500 - latin */
@font-face {
  font-family: 'Petrona';
  font-style: normal;
  font-weight: 500;
  src: url('assets/silvia/fonts/petrona-v16-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    //    url('assets/silvia/fonts/petrona-v16-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/silvia/fonts/petrona-v16-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/silvia/fonts/petrona-v16-latin-500.woff') format('woff'), /* Modern Browsers */
       url('assets/silvia/fonts/petrona-v16-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/silvia/fonts/petrona-v16-latin-500.svg') format('svg'); /* Legacy iOS */
}

/* red-hat-text-regular - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  src: url('assets/silvia/fonts/red-hat-text-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    //    url('assets/silvia/fonts/../red-hat-text-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/silvia/fonts/red-hat-text-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/silvia/fonts/red-hat-text-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/silvia/fonts/red-hat-text-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/silvia/fonts/red-hat-text-v3-latin-regular.svg') format('svg'); /* Legacy iOS */
}

/* red-hat-text-italic - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: italic;
  font-weight: 400;
  src: url('assets/silvia/fonts/red-hat-text-v3-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    //    url('assets/silvia/fonts/../red-hat-text-v3-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/silvia/fonts/red-hat-text-v3-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/silvia/fonts/red-hat-text-v3-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('assets/silvia/fonts/red-hat-text-v3-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/silvia/fonts/red-hat-text-v3-latin-italic.svg') format('svg'); /* Legacy iOS */
}

/* red-hat-text-500 - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  src: url('assets/silvia/fonts/red-hat-text-v3-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    //    url('assets/silvia/fonts/../red-hat-text-v3-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/silvia/fonts/red-hat-text-v3-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/silvia/fonts/red-hat-text-v3-latin-500.woff') format('woff'), /* Modern Browsers */
       url('assets/silvia/fonts/red-hat-text-v3-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/silvia/fonts/red-hat-text-v3-latin-500.svg') format('svg'); /* Legacy iOS */
}

/* red-hat-text-500italic - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: italic;
  font-weight: 500;
  src: url('assets/silvia/fonts/red-hat-text-v3-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    //    url('assets/silvia/fonts/../red-hat-text-v3-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/silvia/fonts/red-hat-text-v3-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/silvia/fonts/red-hat-text-v3-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('assets/silvia/fonts/red-hat-text-v3-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/silvia/fonts/red-hat-text-v3-latin-500italic.svg') format('svg'); /* Legacy iOS */
}

/*-- scss:rules --*/